---
import FormattedDate from '../../components/blocks/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import { getPosts } from '../../api/getPosts';
import { getImageSrc } from '../../utils/functions';

const posts = await getPosts();

---

<Layout title={"Blog"} description={"Blog de Valérie Da Silva"} >
    <main>
        <h1 class="sr-only">Blog</h1>
        {
            posts.length === 0 ? 
                <div>Aucun article publié pour le moment...</div> 
            :  
                <ul class="articles">
                    { posts.map((post) => (
                        <li>
                            <a href={`/blog/${post.slug.current}`}>
                                <img src={getImageSrc(post.header) ?? '/couple-illustration.png'} alt="illustration d'en-tête de l'article" class={post.header ? 'object-cover': 'object-scale-down'} />
                                <hgroup>
                                    <h3 class="text-h4 font-italiana uppercase">{post.title}</h3>
                                    {<FormattedDate date={post.updatedDate ?? post.publishedDate} />}
                                </hgroup>
                                
                            </a>
                        </li>
                    ))}
                </ul>
        }
    </main>
</Layout>

<style>
    main {
        @apply p-lg pt-sm;
    }
    .articles {
        @apply flex flex-col lg:grid lg:grid-cols-2 gap-lg list-none;
        > li {
            /* width: calc(50% - 1rem); */
            a {
                @apply flex flex-col gap-sm overflow-hidden;
                * {
                    @apply transition-all block text-center;
                }
            }

            img {
                @apply rounded-lg w-full h-[40vh] bg-primary;
            }
            &:hover * {
                @apply text-accent;
            }
            &:hover img {
                @apply shadow-lg scale-[101%];
            }
        }
    }
</style>