---
import NavLink from './NavLink.astro';

const { image } = Astro.props;
---

<header>
	<nav>
        <NavLink href="/">Accueil</NavLink>
        <NavLink href="/blog">Blog</NavLink>
        <NavLink href="/about">À propos</NavLink>
        <NavLink href="/contact">Contact</NavLink>
	</nav>
    {image && (<img src={image} alt="" />)}
</header>

<style>
	header {
        nav {
            @apply w-full flex items-center gap-md justify-center py-lg shadow-sm z-20;
        }

        > img {
            @apply w-full h-[40vh] object-cover shadow-md;
        }
	}
</style>
