---
import type { HTMLAttributes } from 'astro/types';
import Logo from '../Logo.astro';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    {isActive && <Logo />}
	<slot />
</a>

<style>
	a {
        @apply text-black font-bold uppercase flex gap-xs items-center;

        &:hover, &.active {
            @apply text-accent;

            svg {
                @apply scale-[200%] mr-xs;
                path {
                    @apply fill-accent;
                }
            }
        }
	}
</style>
