---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="À props de moi"
	headerImg="/blog-placeholder-about.jpg"
    classes="flex flex-col gap-sm w-10/12 m-auto py-xxl"
>
    <p>
        Mon parcours atypique, mais néanmoins toujours tourné vers l’humain, m’a
        amené vers une formation reconnue de coach conjugal, ou amoureux
        comme j’aime l’appeler.
    </p>
    <p>
        J’ai passé la cinquantaine avec succès.
        En couple depuis 35 ans, mariée, 2 enfants, j’ai traversée des tempetes qui
        me permettent aujourd’hui d’être disponible à partager tous les secrets pour
        une vie de couple épanouie.
    </p>
    <p>
        J’aimerai mettre à profit ma formation et mon expérience pour vous
        accompagner, avec une approche basée sur la communication non violente
        et positive.
    </p>
    <p>
        Nous avons tous en nous des compétences afin de résoudre nos
        difficultés, mais avec nos propres jugements affectifs, culturels... qui
        peuvent interférer dans la compréhension.
    </p>
	<p>
        Il faut parfois un coup de pouce pour les décoder, mieux se comprendre.
        Je peux être celui-ci.
	</p>
</Layout>