---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	headerImage="/blog-placeholder-about.jpg"
>
	<p>
		Mon parcours atypique, mais néanmoins toujours tourné vers l’humain, m’a
        amené vers une formation reconnue de coach conjugal, ou amoureux
        comme j’aime l’appeler.
        J’ai passé la cinquantaine avec succès.
        En couple depuis 35 ans, mariée, 2 enfants, j’ai traversée des tempetes qui
        me permettent aujourd’hui d’être disponible à partager tous les secrets pour
        une vie de couple épanouie.
        J’aimerai mettre à profit ma formation et mon expérience pour vous
        accompagner, avec une approche basée sur la communication non violente
        et positive.
        Nous avons tous en nous des compétences afin de résoudre nos
        difficultés, mais avec nos propres jugements affectifs, culturels... qui
        peuvent interférer dans la compréhension.
        Il faut parfois un coup de pouce pour les décoder, mieux se comprendre.
        Je peux être celui-ci.
	</p>
</Layout>
