---
import { getSettings } from '../api/getSettings';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
import Services from '../components/Services.astro';
import Why from '../components/Why.astro';
import Layout from '../layouts/Layout.astro';

const { subtitle } = await getSettings();

---

<Layout title="Valérie Da Silva" description={subtitle}>
    <Header />
    <main>
        <Why/>
        <Services/>
        <About/>
        <Contact/>
    </main>
</Layout>

<style>
    main {
        > section{
            @apply pt-lg pb-xl w-11/12 lg:w-10/12 mx-auto;

            &:nth-child(odd) {
                @apply bg-primary w-full;
            }

            h2 {
                @apply text-center mb-sm;
            }
        }
    }
</style>