---
import { getSettings } from '../api/getSettings';
import {InstagramIco} from '../utils/ico';
const today = new Date();
const { instagram } = await getSettings()
---

<footer>
	<div class="social-links">
		<a href={instagram} target="_blank">
			<span class="sr-only">suivez moi sur instagram</span>
            <span class="ico"><InstagramIco/></span>
            <span>Instagram</span>
		</a>
	</div>
    &copy; {today.getFullYear()} Valérie Da Silva. Tous droits réservés.
</footer>

<style>
	footer {
        @apply px-lg py-md bg-primary/50 text-center;
		.social-links {
            @apply flex items-center justify-center gap-md mb-rg;
            a {
                @apply flex gap-xs items-center;

                .ico {
                    @apply bg-black rounded-full w-lg h-lg flex justify-center items-center;
                    svg {
                        path {
                            @apply stroke-white;
                        }
                        circle {
                            @apply fill-white;
                        }
                    }
                }
               
                &:hover .ico {
                    @apply bg-accent;
                }
            }
          
	    }
	}
</style>
