---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Valérie Da Silva. Tous droits réservés.
	<div class="social-links">
		<a href="" target="_blank">
			<span class="sr-only">suivez moi sur instagram</span>
			instagram
		</a>
		<a href="" target="_blank">
			<span class="sr-only">contactez-moi par email</span>
			email
		</a>
	</div>
</footer>
<style>
	footer {
        @apply px-lg py-md bg-primary text-center;
		.social-links {
            @apply flex justify-center gap-rg mt-rg;
	    }
	}
</style>
