---
import NavLink from './NavLink.astro';
---

<header>
	<nav>
        <NavLink href="/">Accueil</NavLink>
        <NavLink href="/blog">Blog</NavLink>
        <NavLink href="/about">À propos</NavLink>
	</nav>
</header>

<style>
	header {
        nav {
            @apply w-full flex items-center gap-md justify-center py-lg bg-white shadow-sm z-20;
	    }
	}
</style>
