---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description, headerImage, classname } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header image={headerImage}/>
		<main class={classname}>
            <slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
        @apply flex flex-col bg-white;
        main {
            @apply flex-1 px-xxl py-lg;
	    }
	}
</style>
